body {
  margin: 0px;
}

.bg-container {
  background-color: #0f172a;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  text-align: center;
}
.title {
  color: #f8fafc;
  font-size: 44px;
  font-weight: 600;
  font-family: "Roboto";
}

.img {
  height: 250px;
  width: 250px;
}

@media (max-width: 768px) {
  .img {
    height: 150px;
    width: 150px;
  }
  .title {
    font-size: 27px;
  }
}
